  <header>
    <div class="logo"><a href="/">odins Memeber</a></div>
    
    <div class="btnWrapper">
      <% if (locals.name){ %>
        <a href="/post">New Post</a>
        <a href="/loginout">Logout</a>
        <% }else { %>
          <a href="/login">Login</a>
        <% } %>
      <a href="/signup">Signup</a>
    </div>
  </header>