<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Log in</title>
</head>
<body>
    <header>
    <div class="logo"><a href="/">odins Memeber</a></div>
    
    <div class="btnWrapper">
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    </div>
  </header>
  <form action="/login" method="post">
    <h3>Login</h3>  
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="password" name="password">
    <button type="submit">Login</button>
  </form>
</body>
</html>