<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/8baacd143d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/style.css">
  <script defer src="/script/script.js"></script>  <title>Log in</title>
</head>
<body>
  <%- include("header")%>
  <form action="/login" method="post">
    <h3>Login</h3>  
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="password" name="password">
    <button type="submit">Login</button>
    <a href="/signup">Sign up</a>
  </form>
</body>
</html>