<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Sign up</title>
  </head>
  <body>
    <header>
    <div class="logo"><a href="/">odins Memeber</a></div>

    <div class="btnWrapper">
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </div>
    </header>
    <form action="/signup" method="post">
      <h3>Sign up for new account</h3>
      <label for="fullname">Fullname</label>
      <input type="text" name="fullname" required/>
      <label for="username">Username</label>
      <input type="text" name="username" required />
      <label for="password">Password</label>
      <input type="password" name="password" required />
      <label for="confirm_password">Confirm password</label>
      <input type="password" name="confirm_password" required />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
